*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: visible;
  top: 10px;
  left: 10px;
}

body {
  overflow: hidden;
}
